.env
.DS_Store
06-uvod-v-latex/.DS_Store
06-uvod-v-latex/latex-pregled/1-osnove.aux
06-uvod-v-latex/latex-pregled/1-osnove.fdb_latexmk
06-uvod-v-latex/latex-pregled/1-osnove.fls
06-uvod-v-latex/latex-pregled/1-osnove.log
06-uvod-v-latex/latex-pregled/1-osnove.out
06-uvod-v-latex/latex-pregled/1-osnove.pdf
06-uvod-v-latex/latex-pregled/1-osnove.synctex.gz
06-uvod-v-latex/latex-pregled/1-osnove.tex
06-uvod-v-latex/latex-pregled/2-matematika.aux
06-uvod-v-latex/latex-pregled/2-matematika.fdb_latexmk
06-uvod-v-latex/latex-pregled/2-matematika.fls
06-uvod-v-latex/latex-pregled/2-matematika.log
06-uvod-v-latex/latex-pregled/2-matematika.pdf
06-uvod-v-latex/latex-pregled/2-matematika.synctex.gz
06-uvod-v-latex/latex-pregled/2-matematika.tex
06-uvod-v-latex/latex-pregled/3-tabele.tex
06-uvod-v-latex/latex-pregled/4-citati.tex
06-uvod-v-latex/latex-pregled/5-prosojnice.tex
06-uvod-v-latex/latex-pregled/kuza.jpg
06-uvod-v-latex/latex-pregled/literatura.bib
06-uvod-v-latex/latex-pregled/muca.jpg
06-uvod-v-latex/latex-pregled/README.md
06-uvod-v-latex/test/latex-test.aux
06-uvod-v-latex/test/latex-test.fdb_latexmk
06-uvod-v-latex/test/latex-test.fls
06-uvod-v-latex/test/latex-test.log
06-uvod-v-latex/test/latex-test.pdf
06-uvod-v-latex/test/latex-test.synctex.gz
06-uvod-v-latex/test/latex-test.tex
06-uvod-v-latex/urnik-resitev.pdf
06-uvod-v-latex/urnik.aux
06-uvod-v-latex/urnik.fdb_latexmk
06-uvod-v-latex/urnik.fls
06-uvod-v-latex/urnik.log
06-uvod-v-latex/urnik.pdf
06-uvod-v-latex/urnik.synctex.gz
